/* Arquivo: frontend/src/index.css (Limpando) */
/* Todo o estilo global agora está em App.css, podemos deixar este arquivo mais limpo. */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}